ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 25px;
    margin-left: 25px;
}

.navigation{
    align-items: center;
}

nav ul {
    margin-top: 10px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button[type="submit"] {
    background-color:burlywood;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.search-bar button[type="submit"]:hover {
    background-color: black;
}

body {
    background-color: bisque;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

address {
    font-style: normal;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('IMAGES/BACKGROUND.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.customer img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

